@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.button-gradient-hover:hover {
  background: linear-gradient(45deg, #b38945, #fcc875);
  color: white;
}

.button-gradient-hover2:hover {
  background: linear-gradient(45deg, #143146, #25597e);
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001; 
}

.modal-header {
  padding: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background: linear-gradient(180deg, #102838, #143146);
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  font-size: x-large;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(0deg, #143146, #183c55);
}

.custom-dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-selected {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #143146;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown-option {
  display: flex;
  align-items: center;
  padding: 6px;
  cursor: pointer;
}

.dropdown-option:not(:last-child) {
  border-bottom: 1px solid #ffffff22;
}

.dropdown-option:hover {
  background: linear-gradient(45deg, #143146, #25597e);
}

.dropdown-label {
  margin-left: 10px;
  color: white;
  font-size: x-large;
}

.modal-footer {
  background: #b38945;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: x-large;
}

.modal-button {
  width: 100%;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #b38945; 
  color: #fff; /* Weiße Schrift */
  border: none;
}

.input-field::-webkit-inner-spin-button,
.input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-field[type='number'] {
  -moz-appearance: textfield;
}

.input-field:focus {
  outline: none; 
  border: none; 
}

.input-field {
  color: ffffff; 
  background-color: transparent; 
  text-align: right; 
  font-weight: bold;
}

.project-name {
  font-size: 0.9em;
  margin-left: 0.5em;
}
