@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: #143146;
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

/* Eigene Klassen für die Button-Farben */
.bg-project-square {
  background-color: #306b81; /* Hintergrund der Projektboxen */
}

.btn-primary {
  background-color: #b38945; /* Hintergrund des "Donate" Buttons */
}

.btn-secondary {
  background-color: #bce8eb; /* Hintergrund des "Details" Buttons */
}

.bg-header {
  background-color: #143146; /* Hintergrund der Headerbox */
}

.bg-hover {
  background-color: #c483b0; /* Hintergrund beim Hovern */
}